.index-wrapper {
  .search-bar {
    display: flex;
    align-items: center;
    padding: 15px;
    .index__input__search {
      flex:2;
      margin-left: 10px;
      padding: 5px;
      color: #333;
      background-color: #f5f5f5;
      border-radius: 10px;
    }
    .index__btn__search {
      display: inline-block;
      background-color: transparent;
    }
  }
  // banner
  .banner__img {
    padding: 15px;
    box-sizing: border-box;
    image {
      display: block;
      width: 100%;
      max-height: 200px;
    }
  }
  // list
  .index-list {
    height: 400px;
    overflow: auto;
  }
}